@font-face{
    font-family: 'BebasNeue';
    src: url(./images/police/BebasNeue-Regular.ttf)
}
@font-face{
    font-family: 'AlfaSlabOne';
    src: url(./images/police/AlfaSlabOne-Regular.ttf)
}
@font-face{
    font-family: 'Montserrat';
    src: url(./images/police/Montserrat-VariableFont_wght.ttf)
}
.BebasNeue{
    font-family: 'BebasNeue';
}
.AlfaSlabOne{
    font-family: 'AlfaSlabOne';
}
.Montserrat{
    font-family: 'Montserrat';
}
.color{
    color: #3c2513;
    font-size: 2rem;
}
body{
    width: 1360px;
    margin: auto
}
header{
    background-color: #ffc556;  
    margin-bottom: 55px;
}

.menu-bar-container{
    display: flex;
    align-items: flex-end;
}
.menu-bar-left img{
    margin: 30px;
}

.menu-bar-right{
    margin-top: -100px;
    margin-left: 700px;
}

.motor-bike{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.express-text{
    font-weight: bold;
    margin: 10px;
}
.link{
    margin-left: 25px;
}
a{
    margin-right: 50px;
    text-decoration: none;
    color:#3c2513 ;
}
a:hover{
    transition-duration: 2ms;
}
.header-container{
    display: flex;
}

.header-left{
    margin-top: 7%;
    margin-left: 30px;
}
.header-left-title{
    border: 2px dashed #3c2513;
    padding: 5px;
    color: #422b1b;
    font-family:'BebasNeue';
    display: inline-block;
    font-size: 1.5rem;
}
.header-left-subtitle1{
    font-size: 6rem;
    font-weight: bold;
    margin: 0px;
    color: #422b1b;
    font-family: 'AlfaSlabOne';
    text-shadow: 2px 4px aliceblue;
}
.header-left-subtitle2{
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    color: #422b1b;
    font-family: 'AlfaSlabOne';
    text-shadow: 2px 4px aliceblue;
}
.container-burger1{
    display: flex;
    justify-content: center;
}
.burger-left{
    background-image: url(images/plat-burger1.jpg);
    width: 596px;
    height: 420px;
    color: aliceblue;
}
.title1{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'BebasNeue';
}
.title-1b{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'BebasNeue';
    margin-left: 15px;
    margin-top: 19px;
    display: inline-block;
}
.title2{
    margin-left: 15px;
    font-size: 2rem;
    font-family: 'BebasNeue';
}
.title3{
    margin-left: 15px;
    font-size: 1.5rem;
}
.burger-right{
    margin-left: 30px;
    margin-top: 0px;
}
.burger1{
    margin-bottom: 35px;
    background-image: url(images/plat-burger2.jpg);
    color: aliceblue;
    width: 596px;
    height: 192px;
}
.burger2{
    background-image: url(images/plat-burger3.jpg);
    color: aliceblue;
    width: 596px;
    height: 192px;
}
span{
    background-color: #ffc045;
    display: inline-block;
}
.burger-button{
    background-color: #ffc045;
    cursor: pointer;
    width: 200px;
    margin: 30px;
    color: #3c2513;
    font-family: 'BebasNeue';
    padding: 12px;
    font-size: 1.5rem;
    margin-top: 70px;
} 

button:hover,a:hover{
    opacity: 0.5;
    transition: 500ms linear;
    color: #c02223;
    background-color: aqua;
}
.choose-title{
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    font-family: 'AlfaSlabOne';
    color: #3d2514;
}  
.container-burger2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.description{
    text-align: center;
}
.order1{
    text-align: center;
}
button{
    background-color: #c02223;
    border: none;
    padding: 10px;
    color: white;
    width: 120px;
}
.article{
    display: flex;
    width: 85%;
    border: 1px;
    box-shadow: 20px 20px 20px #e1e1e1;
    justify-content: center;
    margin-left: 110px;
    margin-top: 100px;
}
.article-left{
    padding: 30px;
}
.article-right{
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.text-discover{
    font-size: 1.5rem; 
}
.text-events{
    font-size: 2.3rem;
    margin-bottom: 30px;
    color: #422b1b; 
}

.head-formulary-left{ 
    display: inline-block;
    margin-top: 100px;
}
.title-formulary{
    align-items: center;
    margin-top: 55px;
}
.title-formulary-right{
    text-align: center;
    color: #422b1b;
    margin-top: -200px;
    margin-bottom: 50px;
}
.title-formulary-right2{
    font-size: 3rem;
    color: #422b1b;
}
.container-formulary{
    display: flex;
    justify-content: center;
}
.formulary{
    text-align: center;
}
.formulary-left{
    margin-right: 59px;
    margin-left: 116px;
}
.formulary input{
    width: 225px;
    padding: 17px;
    margin: 9px;
    border: 1px solid #ededed;
    border-radius: 5px;
}
.formulary button{
    width: 258px;
    padding: 17px;
    margin: 9px;
    border-radius: 5px;
    margin-right: 15px;
}
.formulary-right{
    margin-right: -162px;
    margin-top: 40px;
}
.end-picture{
    background-image: url(images/plat-enbas.jpg);
    padding: 45px;
    color: white;
    background-size: cover;
    background-position: 100%
}
.lorem-localisation{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.lorem{
    width: 40%;
}
.localisation-email{
    margin-right: 100px;
    margin-top: 10px;
}
.localisation{
    display: flex;
    margin-bottom: 15px;
}
.email{
    display: flex;
}
.footer-footer{
    display: flex;
    margin-top: 229px;
    justify-content: space-between;
}
.write{
    margin-left: 15px;
    margin-top: 7px;
}
.write2{
    margin-left: 15px;
}
.icons{
    display: flex;
}
.space{
    margin-right: 10px;
}